In [84]:
import pandas as pd
import numpy as np

In [85]:
df1 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/1.csv")

In [86]:
df2 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/2.csv")

In [87]:
df3 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/3.csv")

In [88]:
df4 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/4.csv")

In [89]:
df5 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/5.csv")

In [90]:
df6 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/6.csv")

In [91]:
df7 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/7.csv")

In [92]:
df8 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/8.csv")

In [93]:
df9 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/9.csv")

In [94]:
df10 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/10.csv")

In [95]:
df11 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/11.csv")

In [96]:
# Crea una lista con los DataFrames que deseas concatenar
dataframes_list = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11]

# Concatena los DataFrames de forma vertical
metadata_df = pd.concat(dataframes_list, ignore_index=True)

In [97]:
metadata_df.drop_duplicates(subset='gmap_id', inplace=True, ignore_index=True)

In [98]:
metadata_df.head(2)

,name,address,latitude,longitude,category,gmap_id,name_df,address_df,description,latitude_df,longitude_df,category_df,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,Julius Tower,"Julius Tower, 3500 S Las Vegas Blvd, Las Vegas...",36.116137,-115.175627,Hotel,0x80c8c5be48916e37:0x56087b0b6d03d571,Julius Tower,"Julius Tower, 3500 S Las Vegas Blvd, Las Vegas...",NaN,36.116137,-115.175627,Hotel,4.8,6,NaN,NaN,{},NaN,"['0x80c8c43b5e2f690d:0xed2b07c4ba4400dd', '0x8...",https://www.google.com/maps/place//data=!4m2!3...
1,Best Western Plus Casino Royale - On The Strip...,Best Western Plus Casino Royale - On The Strip...,36.120560,-115.171973,Hotel,0x80c8c43c32f286af:0x3b3c451e08af21a7,Best Western Plus Casino Royale - On The Strip...,Best Western Plus Casino Royale - On The Strip...,Understated rooms & suites in a warm hotel wit...,36.120560,-115.171973,Hotel,4.7,13,NaN,NaN,{},NaN,"['0x80c8c39f97006e85:0x85e4762a067adde4', '0x8...",https://www.google.com/maps/place//data=!4m2!3...

In [102]:
metadata_df.drop(columns=['name_df', 'address_df', 'latitude_df', 'longitude_df', 'category_df'], inplace=True)

KeyError: "['name_df', 'address_df', 'latitude_df', 'longitude_df', 'category_df'] not found in axis"

In [103]:
metadata_df.to_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/metadata-sitios/metadata-sitios/final/metadata.csv", index=False)

In [100]:
df_misc = pd.DataFrame(metadata_df.MISC)

In [101]:
df_misc

    MISC
0     {}
1     {}
2     {}
3     {}
4     {}
..   ...
833   {}
834   {}
835   {}
836   {}
837   {}

[838 rows x 1 columns]

In [82]:
# Asegúrate de que la columna 'MISC' sea del tipo dict (puede que no necesites esta línea si ya está en el formato correcto)
metadata_df['MISC'] = metadata_df['MISC'].apply(lambda x: {} if x is None else x)

# Encontrar todas las llaves únicas presentes en los diccionarios
all_keys = set()
for dictionary in metadata_df['MISC']:
    if isinstance(dictionary, dict):
        all_keys.update(dictionary.keys())

# Iterar sobre la columna y crear un nuevo DataFrame
new_data = []
for dictionary in metadata_df['MISC']:
    row_data = {}
    for key in all_keys:
        row_data[key] = dictionary.get(key, {})
    new_data.append(row_data)

df_misc = pd.DataFrame(new_data)

df_misc

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[838 rows x 0 columns]

In [57]:
df_misc

Empty DataFrame
Columns: []
Index: []