In [6]:
import pandas as pd
import numpy as np

In [7]:
df1 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-New_York/review-New_York/1.csv")
df2 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-New_York/review-New_York/2.csv")
df3 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-New_York/review-New_York/3.csv")
df4 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-New_York/review-New_York/4.csv")
df5 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-New_York/review-New_York/5.csv")
df6 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-New_York/review-New_York/6.csv")
df7 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-New_York/review-New_York/7.csv")
df8 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-New_York/review-New_York/8.csv")
df9 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-New_York/review-New_York/9.csv")
df10 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-New_York/review-New_York/10.csv")
df11 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-New_York/review-New_York/11.csv")
df12 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-New_York/review-New_York/12.csv")
df13 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-New_York/review-New_York/13.csv")
df14 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-New_York/review-New_York/14.csv")
df15 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-New_York/review-New_York/15.csv")
df16 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-New_York/review-New_York/16.csv")
df17 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-New_York/review-New_York/17.csv")
df18 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-New_York/review-New_York/18.csv")

In [8]:
# Crea una lista con los DataFrames que deseas concatenar
dataframes_list = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18]

# Concatena los DataFrames de forma vertical
review_df = pd.concat(dataframes_list, ignore_index=True)

In [9]:
review_df.to_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-New_York/review-New_York/final/review_ny.csv", index=False)

In [12]:
review_df

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.040650e+20,Katie K,2021-07-07 10:34:18.257,5,If I could give this place even more stars I w...,NaN,"{'time': 1625669318347, 'text': 'Thanks so muc...",0x89d486fb46b35e0f:0xf89fc350fa1c93f0
1,1.156591e+20,Nick Nyhan,2020-11-09 15:36:18.554,5,Pulled in there after Niagara Falls visit. Rea...,[{'url': ['https://lh5.googleusercontent.com/p...,"{'time': 1604949989257, 'text': 'Thanks for th...",0x89d486fb46b35e0f:0xf89fc350fa1c93f0
2,1.005289e+20,JustGoFlyVinnie,2020-10-26 13:20:32.178,5,I can't rate this hidden gem high enough. We g...,[{'url': ['https://lh5.googleusercontent.com/p...,"{'time': 1603735958781, 'text': 'Thanks so muc...",0x89d486fb46b35e0f:0xf89fc350fa1c93f0
3,1.122109e+20,Matt Carroll,2019-08-18 12:48:42.676,5,We rented the hotel for a company party for th...,NaN,"{'time': 1566149806295, 'text': 'Thanks for th...",0x89d486fb46b35e0f:0xf89fc350fa1c93f0
4,1.149143e+20,Russell Larsen,2019-01-12 11:04:50.798,5,What a Jem. Great place to host a wedding or p...,NaN,NaN,0x89d486fb46b35e0f:0xf89fc350fa1c93f0
...,...,...,...,...,...,...,...,...
2338,1.127285e+20,Don Todd,2018-03-20 02:12:33.163,1,NaN,NaN,NaN,0x89dfce4984aaa485:0xacbd33cecf7d50d4
2339,1.040970e+20,Luc “190falcon” Blanchette,2017-02-05 12:06:51.870,3,NaN,NaN,NaN,0x89dfce4984aaa485:0xacbd33cecf7d50d4
2340,1.032762e+20,Kathy Reeks,2018-02-26 14:43:08.810,5,NaN,NaN,NaN,0x89dfce4984aaa485:0xacbd33cecf7d50d4
2341,1.028247e+20,Matthew Gordon,2018-03-20 06:25:39.435,3,NaN,NaN,NaN,0x89dfce4984aaa485:0xacbd33cecf7d50d4
2342,1.029704e+20,Charlene Cook,2017-10-07 08:14:14.038,1,NaN,NaN,NaN,0x89dfce4984aaa485:0xacbd33cecf7d50d4