In [6]:
import pandas as pd
import numpy as np

In [9]:
df1 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-California/review-California/1.csv")
df2 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-California/review-California/2.csv")
df3 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-California/review-California/3.csv")
df4 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-California/review-California/4.csv")
df5 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-California/review-California/5.csv")
df6 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-California/review-California/6.csv")
df7 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-California/review-California/7.csv")
df8 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-California/review-California/8.csv")
df9 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-California/review-California/9.csv")
df10 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-California/review-California/10.csv")
df11 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-California/review-California/11.csv")
df12 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-California/review-California/12.csv")
df13 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-California/review-California/13.csv")
df14 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-California/review-California/14.csv")
df15 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-California/review-California/15.csv")
df16 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-California/review-California/16.csv")
df17 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-California/review-California/17.csv")
df18 = pd.read_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-California/review-California/18.csv")

In [10]:
# Crea una lista con los DataFrames que deseas concatenar
dataframes_list = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18]

# Concatena los DataFrames de forma vertical
review_df = pd.concat(dataframes_list, ignore_index=True)

In [12]:
review_df.to_csv("C:/Users/pablo/OneDrive/Escritorio/Dataset GM/review-California/review-California/final/review_california.csv", index=False)

In [13]:
review_df

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.089268e+20,Christopher Thomas Constantino,2021-06-12 23:27:17.434,4,Great pet friendly place on the American River...,[{'url': ['https://lh5.googleusercontent.com/p...,"{'time': 1623778784860, 'text': 'Thank you for...",0x809a55833fbe05ad:0xee6507787fb6a26c
1,1.147835e+20,Valley Girl,2020-11-06 01:35:04.569,5,Beautiful outdoorsy getaway. Kitchenette cotta...,NaN,"{'time': 1610999719328, 'text': 'Thank you Val...",0x809a55833fbe05ad:0xee6507787fb6a26c
2,1.158307e+20,John Barringer,2020-11-01 03:06:47.321,5,I was the chef at this evening's wedding. I wa...,NaN,"{'time': 1604207570230, 'text': 'Thank you Joh...",0x809a55833fbe05ad:0xee6507787fb6a26c
3,1.083060e+20,Missey Iverson,2021-06-08 15:35:00.137,5,I am trying to book a small cabin. Help. ðŸ˜†,NaN,"{'time': 1623178567495, 'text': ""Well this is ...",0x809a55833fbe05ad:0xee6507787fb6a26c
4,1.165939e+20,Larry S.,2018-04-09 16:11:16.898,5,My kids and I spent part of last week in Colom...,NaN,"{'time': 1592523694586, 'text': 'Thank you Lar...",0x809a55833fbe05ad:0xee6507787fb6a26c
...,...,...,...,...,...,...,...,...
3516,1.062983e+20,Ty Dyce,2018-11-13 19:30:28.141,5,Great place,NaN,NaN,0x80c2bac92aab2569:0x75438e2d602ff1
3517,1.069742e+20,Micheal Calvin,2017-03-16 04:19:14.604,5,"Good value, very clean.",NaN,NaN,0x80c2bac92aab2569:0x75438e2d602ff1
3518,1.179712e+20,Sunny Singh,2016-02-13 14:49:54.115,5,Beautiful place with perfect location!,NaN,NaN,0x80c2bac92aab2569:0x75438e2d602ff1
3519,1.080587e+20,Karim B.,2020-01-19 22:49:04.969,4,(Translated by Google) Excellent experience. I...,NaN,NaN,0x80c2bac92aab2569:0x75438e2d602ff1
3520,1.086556e+20,arthur nora,2018-02-25 18:01:46.076,5,NaN,NaN,NaN,0x80c2bac92aab2569:0x75438e2d602ff1